@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6BBAA7;
    overflow: scroll;
}

@keyframes AboutMe {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 20%;
    }
    20% {
        opacity: 40%;
    }
    30% {
        opacity: 50%;
    }
    40% {
        opacity: 60%;
    }
    50% {
        opacity: 70%;
    }
    60% {
        opacity: 80%;
    }
    70% {
        opacity: 90%;
    }
    80% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

#abouthead {
    font-size: 5vh;
    position: absolute;
    animation-name: AboutMe;
    animation-duration: 5s;
    color: #fff;
    bottom: 80vh;
}

@keyframes AboutMeBio {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    40% {
        opacity: 50%;
    }
    50% {
        opacity: 70%;
    }
    60% {
        opacity: 90%;
    }
    70% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

#aboutbody {
    font-size: 3vh;
    position: absolute;
    animation-name: AboutMeBio;
    animation-duration: 5s;
    color: #fff;
    max-width: 80vw;
    bottom: 40vh;
}

@keyframes AboutMe2 {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    60% {
        opacity: 40%;
    }
    70% {
        opacity: 60%;
    }
    80% {
        opacity: 70%;
    }
    90% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

#aboutpersonal {
    font-size: 3vh;
    position: absolute;
    animation-name: AboutMe2;
    animation-duration: 5s;
    color: #fff;
    max-width: 80vw;
    bottom: 15vh;
}

#ProjectHead {
    font-size: 5vh;
    position: absolute;
    color: #fff;
    bottom: 85vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 90%;
}

.nav-button {
    background-color: lightcoral;
}