@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d0f1b;
  overflow: scroll;
}
ul
{
  position: relative;
  display: flex;
  flex-direction: column;
}
ul li{
  list-style: none;
}
ul li:before
{
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}
ul li:hover:before 
{
  opacity: 1;
  letter-spacing: 0px;
}
ul li a{
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: #2196f3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}
ul:hover li a
{
  opacity: 0.2;
}
ul li a:hover
{
  transform: scale(1.4);
  z-index: 1000;
  background: #ff3f81;
  opacity: 1;
}
ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 20%;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent);
  transform: skewX(35deg);
  transition: 0s;
}
ul li a:hover:before
{
  left:calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
@keyframes AboutMe
{
  0% {opacity: 0%; }
  10% {opacity: 20%; }
  20% {opacity: 40%; }
  30% {opacity: 50%; }
  40% {opacity: 60%; }
  50% {opacity: 70%; }
  60% {opacity: 80%; }
  70% {opacity: 90%; }
  80% {opacity: 100%; }
  90% {opacity: 100%; }
  100% {opacity: 100%; }
}
#abouthead
{
  font-size: 380%;
  position: absolute;
  animation-name: AboutMe;
  animation-duration: 5s;
  color: #fff;
  bottom: 85%;
}
@keyframes AboutMeBio
{
  0% {opacity: 0%; }
  10% {opacity: 0%; }
  20% {opacity: 0%; }
  30% {opacity: 0%; }
  40% {opacity: 50%; }
  50% {opacity: 70%; }
  60% {opacity: 90%; }
  70% {opacity: 100%; }
  80% {opacity: 100%; }
  90% {opacity: 100%; }
  100% {opacity: 100%; }
}
#aboutbody
{
  font-size: 180%;
  position: absolute;
  animation-name: AboutMeBio;
  animation-duration: 5s;
  color: #fff;
  max-width: 80%;
  bottom: 40%;
}
@keyframes AboutMe2
{
  0% {opacity: 0%; }
  10% {opacity: 0%; }
  20% {opacity: 0%; }
  30% {opacity: 0%; }
  40% {opacity: 0%; }
  50% {opacity: 0%; }
  60% {opacity: 40%; }
  70% {opacity: 60%; }
  80% {opacity: 70%; }
  90% {opacity: 90%; }
  100% {opacity: 100%; }
}
#aboutpersonal
{
  font-size: 180%;
  position: absolute;
  animation-name: AboutMe2;
  animation-duration: 5s;
  color: #fff;
  max-width: 80%;
  bottom: 15%;
}

